*{
    font-family: Cantarell;
    background: transparent;
    background-color: #414868;
}

#input {
    margin: 5px;
    margin-bottom: -10px;
    border: none;
    color: #f8f8f2;
    background: transparent;
}
