*{
    font-family: monospace;
}

window {
    margin: 5px;
    background-color: #16161E;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid black;
    background-color: #16161E;
    color: white;
}

#inner-box {
    margin: 5px;
    background-color: #16161E;
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #16161E;
}

#scroll {
    
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: #1A1B26;
}

#text:selected {
    text-decoration-color: #1A1B26;
}



