<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-web" label="Web">
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-fichiers" label="Fichiers">
		<item label="Thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Gedit">
			<action name="Execute">
				<execute>gedit</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-systems-networks" label="Systèmes et Réseaux">
		<item label="Virt Manager">
			<action name="Execute">
				<execute>gksudo virt-manager</execute>
			</action>
		</item>
		<item label="Remmina">
			<action name="Execute">
				<execute>remmina</execute>
			</action>
		</item>
		<item label="WireShark">
			<action name="Execute">
				<execute>wireshark</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-jeux" label="Jeux">
		<item label="Steam">
			<action name="Execute">
				<execute>steam</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-chat" label="Chat">
		<item label="Discord">
			<action name="Execute">
				<execute>discord</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-dev" label="Développement">
		<item label="Python 3">
			<action name="Execute">
				<execute>terminator --command=&quot;python&quot;</execute>
			</action>
		</item>
		<item label="Visual Code">
			<action name="Execute">
				<execute>code</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-settings" label="Paramètres">
		<item label="Zsh Configuration">
			<action name="Execute">
				<execute>gedit ~/.zshrc</execute>
			</action>
		</item>
		<item label="Conky Configuration">
			<action name="Execute">
				<execute>gedit ~/.conky/conkyrc ~/.conky/conkyrc2</execute>
			</action>
		</item>
		<item label="Contrôleur de son">
			<action name="Execute">
				<execute>pavucontrol</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-terminal" label="Terminal">
		<item label="Terminator">
			<action name="Execute">
				<execute>terminator</execute>
			</action>
		</item>
	</menu>
	<menu id="systeme-menu" label="Système">
		<item label="Openbox Configuration">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Key Configuration">
			<action name="Execute">
				<execute>obkey</execute>
			</action>
		</item>
		<item label="Openbox Menu Configuration">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Openbox Autostart">
			<action name="Execute">
				<execute>gedit ~/.config/openbox/autostart</execute>
			</action>
		</item>
		<item label="Tint2 Configuration">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="apps-web"/>
		<menu id="apps-fichiers"/>
		<menu id="apps-jeux"/>
		<menu id="apps-chat"/>
		<menu id="apps-systems-networks"/>
		<menu id="apps-dev"/>
		<menu id="apps-settings"/>
		<menu id="apps-terminal"/>
		<separator label="System"/>
		<menu id="systeme-menu"/>
		<separator/>
		<item label="Eteindre">
			<action name="Execute">
				<execute>systemctl poweroff</execute>
			</action>
		</item>
		<item label="Redémarrer">
			<action name="Execute">
				<execute>systemctl reboot</execute>
			</action>
		</item>
		<item label="Verrouiller">
			<action name="Execute">
				<execute>dm-tool lock</execute>
			</action>
		</item>
		<item label="Se déconnecter">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
